<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/check-list-mint.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        ToDo App
      </a>
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="./pages/tasks/tasks.html">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/new_task/new_task.html">New Task</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./pages/profile/profile.html">Profile</a>
          </li>
      </ul>
      <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>  
    </div>
</nav>